.dangky {
    width: 60%;
    height: 65%;
    background-color: #2e3740;
    border-radius: 8px;
}

.dangky p {
    font-size: 23px;
    color: #fff;
    text-align: center;
    font-weight: 600;
    margin-top: 3%;
}

.dangky form {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
}

.dangky table {
    width: 65%;
    height: 80%;
    margin-top: 1%;
}

.dangky table tr {
    width: 100%;
    height: 25%;
}

.dangky table tr td input {
    width: 100%;
    height: 50%;
    outline: none;
    border: none;
    box-sizing: border-box;
    border-left: 4px solid red;
    font-size: 15px;
}

.dangky table tr td input:active {
    border: 1px solid red;
    box-sizing: border-box;
}

.dangky table tr td ::placeholder {
    padding-left: 10px;
}

.dangky table tr td button {
    width: 100%;
    height: 55%;
    font-size: 18px;
    font-weight: 600;
    background-color: #41a46e;
    color: #fff;
    outline: none;
    border: none;
}

.dangky table tr td button:active {
    border: 1px solid red;
}