    .khachhang {
        width: 96%;
        height: 115%;
        border: 1px solid rgba(0, 0, 0, 0.2);
        margin-top: 11.3%;
        border-radius: 7px 7px 0px 0px;
        overflow: hidden;
    }
    
    .khachhang .title {
        width: 100%;
        height: 8%;
        border-bottom: 1px solid rgba(0, 0, 0, 0.2);
        background-color: rgba(0, 0, 0, 0.1);
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-left: 20px;
        font-size: 18px;
    }
    
    .khachhang p i {
        margin-right: 10px;
    }
    
    .khachhang .search ul {
        list-style: none;
        display: flex;
        margin-right: 20px;
        border-bottom: 2px solid black;
    }
    
    .khachhang .search ul li input[type='text'] {
        height: 25px;
        border: none;
        outline: none;
        background-color: transparent;
        width: 140px;
    }
    
    .khachhang .search ul li button {
        font-size: 20px;
        outline: none;
        border: none;
        background-color: transparent;
    }
    
    .khachhang .content {
        width: 96%;
        height: 100%;
        box-sizing: border-box;
        margin-top: 2%;
        border: 1px solid rgba(0, 0, 0, 0.2);
        margin-right: 2%;
        border-radius: 7px 7px 0px 0px;
        display: flex;
        align-items: flex-start;
    }
    
    .khachhang .content form {
        width: 100%;
        height: auto;
    }
    
    .khachhang table {
        width: 100%;
        height: auto;
        text-align: center;
    }
    
    .khachhang table .row1 {
        width: 100%;
        height: 60px;
    }
    
    .khachhang table .row1 .c1 {
        width: 5%;
        border-bottom: 1px solid rgba(0, 0, 0, 0.2);
        border-right: 1px solid rgba(0, 0, 0, 0.2);
    }
    
    .khachhang table .row1 .c2 {
        width: 17%;
        border-bottom: 1px solid rgba(0, 0, 0, 0.2);
        border-right: 1px solid rgba(0, 0, 0, 0.2);
    }
    
    .khachhang table .row1 .c3 {
        width: 23%;
        border-bottom: 1px solid rgba(0, 0, 0, 0.2);
        border-right: 1px solid rgba(0, 0, 0, 0.2);
    }
    
    .khachhang table .row1 .c4 {
        width: 30%;
        border-bottom: 1px solid rgba(0, 0, 0, 0.2);
        border-right: 1px solid rgba(0, 0, 0, 0.2);
    }
    
    .khachhang table .row1 .c5 {
        width: 25%;
        border-bottom: 1px solid rgba(0, 0, 0, 0.2);
        border-right: none;
    }
    
    .khachhang table .row2 {
        width: 100%;
        height: 40px;
    }
    
    .khachhang table .row2>td {
        border-bottom: 1px solid rgba(0, 0, 0, 0.2);
        border-right: 1px solid rgba(0, 0, 0, 0.2);
    }
    
    .khachhang table .row2>.c7 {
        border-right: none;
    }
    
    .khachhang table .row2>td button {
        font-size: 20px;
        background-color: transparent;
        border: none;
        outline: none;
        color: red;
    }