.danhmucsp {
    width: 96%;
    height: 115%;
    border: 1px solid rgba(0, 0, 0, 0.2);
    margin-top: 11.3%;
    border-radius: 7px 7px 0px 0px;
    overflow: hidden;
}

.danhmucsp .title {
    width: 100%;
    height: 8%;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    background-color: rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 20px;
    font-size: 18px;
}

.danhmucsp p i {
    margin-right: 10px;
}

.danhmucsp .search ul {
    list-style: none;
    display: flex;
    margin-right: 20px;
    border-bottom: 2px solid black;
}

.danhmucsp .search ul li input[type='text'] {
    height: 25px;
    border: none;
    outline: none;
    background-color: transparent;
    width: 140px;
}

.danhmucsp .search ul li button {
    font-size: 20px;
    outline: none;
    border: none;
    background-color: transparent;
}

.danhmucsp .content {
    width: 96%;
    height: 100%;
    box-sizing: border-box;
    margin-top: 2%;
    border: 1px solid rgba(0, 0, 0, 0.2);
    margin-right: 2%;
    border-radius: 7px 7px 0px 0px;
}

.danhmucsp .content .left {
    width: 35%;
    height: 100%;
    border-right: 1px solid rgba(0, 0, 0, 0.2);
}

.danhmucsp .content .left form {
    width: 100%;
    height: 100%;
}

.danhmucsp .content .left form table {
    width: 100%;
    height: 60%;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    text-align: center;
}

.danhmucsp .content .left form table tr {
    width: 100%;
    height: 15%;
}

.danhmucsp .content .left form table tr td {
    width: 100%;
    height: 15%;
}

.danhmucsp .content .left form table tr td p {
    width: 100%;
    height: 100%;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    padding-top: 5%;
    font-size: 17px;
    text-transform: uppercase;
}

.danhmucsp .content .left form table tr td input[type="text"] {
    width: 80%;
    height: 50%;
    outline: none;
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    justify-content: left;
}

.danhmucsp .content .left form table tr td select {
    width: 80%;
    height: 50%;
    outline: none;
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    justify-content: left;
}

.danhmucsp .content .left form table tr td input:hover {
    border-bottom: 1px solid red;
}

.danhmucsp .content .left form table tr td input::placeholder {
    font-size: 15px;
}

.danhmucsp .content .left form table tr td input:hover::placeholder {
    padding-left: 10px;
    font-size: 15px;
    color: red;
}

.danhmucsp .content .left form table tr td button {
    width: 30%;
    height: 55%;
    border: 1px solid black;
    border-radius: 5px;
    outline: none;
    border: none;
    font-size: 15px;
    background-color: #007ee5;
    font-weight: 600;
    color: #fff;
    margin-bottom: 4%;
}

.danhmucsp .content .left form table tr td button:hover {
    color: red;
}

.danhmucsp .content .right {
    width: 65%;
    height: 100%;
    overflow-y: scroll;
}

.danhmucsp .content .right table {
    width: 100%;
    height: auto;
    text-align: center;
}

.danhmucsp .content .right table tr {
    width: 100%;
    height: auto;
}

.danhmucsp .content .right table .row {
    width: 100%;
    height: 58px;
}

.danhmucsp .content .right table tr .row1 {
    width: 20%;
    height: 58px;
    border-right: 1px solid rgba(0, 0, 0, 0.2);
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.danhmucsp .content .right table .r1 {
    width: 25%;
}

.danhmucsp .content .right table .r2 {
    width: 15%;
}

.danhmucsp .content .right table .r3 {
    width: 10%;
}

.danhmucsp .content .right table .r4 {
    width: 20%;
}

.danhmucsp .content .right table .r5 {
    width: 8%;
}

.danhmucsp .content .right table .r6 {
    width: 10%;
}

.danhmucsp .content .right table tr td {
    width: 20%;
    height: 43px;
    border-right: 1px solid rgba(0, 0, 0, 0.2);
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.danhmucsp .content .right::-webkit-scrollbar {
    width: 9px;
}

.danhmucsp .content .right::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.2);
}