.thongtinkh {
    width: 96%;
    height: 115%;
    border: 1px solid rgba(0, 0, 0, 0.2);
    margin-top: 11.3%;
    border-radius: 7px 7px 0px 0px;
    overflow: hidden;
}

.thongtinkh>p {
    width: 100%;
    height: 8%;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    background-color: rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    padding-left: 20px;
    font-size: 18px;
}

.thongtinkh>p i {
    margin-right: 10px;
}

.thongtinkh .ttkh {
    width: 90%;
    height: 100%;
    border: 1px solid rgba(0, 0, 0, 0.2);
    margin: auto;
    margin-top: 3%;
    border-radius: 7px;
}

.thongtinkh .ttkh ul {
    width: 100%;
    list-style: none;
    display: flex;
    height: 100%;
}

.thongtinkh .ttkh ul .img {
    width: 30%;
    height: auto;
    text-align: center;
}

.thongtinkh .ttkh ul .img img {
    width: 170px;
    height: 170px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    margin-top: 40px;
}

.thongtinkh .ttkh ul .hoso {
    width: 64%;
    height: auto;
}

.thongtinkh .ttkh>ul .hoso ul {
    width: 100%;
    height: 480px;
    list-style: none;
    margin-top: 10px;
    display: block;
    overflow-y: scroll;
}

.thongtinkh .ttkh>ul .hoso ul::-webkit-scrollbar {
    width: 10px;
}

.thongtinkh .ttkh>ul .hoso ul::-webkit-scrollbar-thumb {
    background-color: black;
    border-radius: 5px;
}

.thongtinkh .ttkh>ul .hoso ul::-webkit-scrollbar-track {
    background-color: rgba(0, 0, 0, 0.3);
    ;
    border-radius: 5px;
}

.thongtinkh .ttkh>ul .hoso ul form {
    width: 100%;
    height: auto;
}

.thongtinkh .ttkh ul .hoso>ul li {
    width: 98%;
    height: 80px;
}

.thongtinkh .ttkh>ul .hoso>ul li p {
    font-size: 15px;
    font-weight: 600;
    color: red;
    margin-bottom: 5px;
}

.thongtinkh .ttkh ul .hoso>ul li .tex {
    width: 100%;
    height: 50%;
    background-color: #eeeeee;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    border: 1px solid rgba(0, 0, 0, 0.2);
}

.thongtinkh .ttkh ul .hoso>ul li .tex>input[type="text"] {
    width: 80%;
    height: 100%;
    outline: none;
    border: none;
    background-color: transparent;
    margin-left: 10px;
    font-size: 15px;
}

.thongtinkh .ttkh ul .hoso>ul li .tex button {
    width: 10%;
    height: 100%;
    background-color: #eeeeee;
    border-radius: 5px;
    display: inline-flex;
    justify-content: space-between;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    outline: none;
    border: none;
}

.thongtinkh .ttkh ul .hoso>ul li .tex button i {
    font-size: 20px;
    color: rgba(0, 0, 0, 0.5);
}

.thongtinkh .ttkh ul .hoso>ul li .tex>input[type="text"]::placeholder {
    color: rgba(0, 0, 0, 0.8);
    font-size: 14px;
}

.thongtinkh .ttkh ul .hoso .quaylai {
    position: relative;
}

.thongtinkh .ttkh ul .hoso li>a {
    text-decoration: none;
    color: blue;
    font-size: 18px;
    bottom: 5px;
    position: absolute;
}

.thongtinkh .ttkh ul .hoso li>a:hover {
    color: red;
}