.content .step7 {
    width: 100%;
    height: 100vh;
    margin: auto;
    padding-top: 130px;
}

.content .step7>.title {
    width: 70%;
    height: 55px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    margin: auto;
    align-items: center;
    position: relative;
}

.content .step7>.title>p {
    width: 100%;
    height: 90%;
    margin: auto;
    font-size: 17px;
    font-weight: 600;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.content .step7>.title>p>a {
    position: absolute;
    left: 0px;
    color: black;
}

.content .step7>.title .hr7 {
    position: absolute;
    bottom: 0px;
    width: 75%;
    border: 3px solid #33a837;
}

.content .step7 .cont {
    width: 70%;
    height: auto;
    margin: auto;
    margin-top: 20px;
}

.content .step7 .cont>.text {
    width: 100%;
    height: 54px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 6px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.content .step7 .cont>.text>input[type="text"] {
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    font-size: 16px;
}

.content .step7 .cont>.text>input[type="text"]::placeholder {
    padding-left: 10px;
    font-size: 17px;
}

.content .step7 .cont>.text>input[type="text"]:hover::placeholder {
    padding-left: 30px;
    transition: 0.3s;
    font-size: 14px;
}

.content .step7 .cont>ul {
    background-color: #d9edf7;
    border-color: #bce8f1;
    color: #31708f;
    padding-top: 30px;
    padding-left: 20px;
    padding-bottom: 20px;
    border-radius: 7px;
    margin-top: 20px;
}

.content .step7 .cont>ul>.row1 {
    margin-bottom: 18px;
    font-size: 15px;
    font-weight: 600;
}

.content .step7 .cont>ul>li {
    margin-left: 20px;
    margin-bottom: 7px;
    font-size: 15px;
}

.content .step7 .btn {
    width: 100%;
    height: 80px;
    margin: auto;
    position: absolute;
    bottom: 0px;
    display: flex;
    justify-content: center;
    background-color: #fff;
}

.content .step7 .btn>button {
    width: 70%;
    height: 50px;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    background-color: #fe9900;
    border: none;
    border-radius: 7px;
    outline: none;
}

.content .step7 .btn>button:hover {
    background-color: rgb(255, 186, 0);
}

.content .step7 .btn>button>i {
    margin-left: 5px;
}