* {
    margin: 0px;
    padding: 0px
}

.thongbao {
    position: absolute;
    position: fixed;
    z-index: 1000;
    top: 0px;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
}

.thongbao>.table {
    width: 25%;
    height: 30vh;
    background-color: #fff;
    text-align: center;
}

.thongbao>.table>p {
    width: 100%;
    height: 20%;
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
    ;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    font-weight: 600;
    background-color: #065fd4;
    color: #fff;
}

.thongbao .table .text {
    width: 100%;
    height: 80%;
}

.thongbao .table .text .title {
    width: 100%;
    height: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
}

.thongbao .table .text .bnt {
    width: 100%;
    height: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
}

.thongbao .table .text .bnt a button {
    width: 100px;
    height: 30px;
    background-color: #065fd4;
    color: #fff;
    outline-color: red;
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 5px;
}

.thongbao .table .text .bnt a button {
    width: 100px;
    height: 30px;
    background-color: #065fd4;
    color: #fff;
    outline-color: red;
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 5px;
}

.thongbao .table .text .bnt a .bnt1 {
    margin-right: 30px;
}